.undp-slider .ant-slider-rail {
  background-color: var(--gray-300) !important;
}

.undp-slider:hover .ant-slider-rail {
  background-color: var(--gray-400) !important;
}

.undp-slider .ant-slider-track {
  background-color: var(--dark-red) !important;
}

.undp-slider.ant-slider-disabled .ant-slider-rail {
  background-color: var(--gray-300) !important;
}

.undp-slider.ant-slider-disabled .ant-slider-track {
  background-color: var(--light-red) !important;
}

.undp-slider.ant-slider-disabled .ant-slider-handle{
  border: solid 2px var(--light-red) !important;
}
.undp-slider.ant-slider-disabled:hover .ant-slider-handle{
  background-color: var(--white) !important;
}

.undp-slider:hover .ant-slider-track {
  background-color: var(--dark-red) !important;
}

.undp-slider .ant-slider-handle{
  border: solid 2px var(--dark-red) !important;  
  height: 0.875rem;
  background-color: var(--white);
  border-radius: 50%;
  width: 0.875rem;
  transform: translate(-50%, -18%) !important;
}

.undp-slider .ant-slider-handle::after{
  content: none !important;
}

.undp-slider .ant-slider-handle::before{
  content: none !important;
}

.undp-slider:hover .ant-slider-handle{
  background-color: var(--light-red) !important;
  border: solid 2px var(--dark-red) !important;
}

.undp-slider .ant-slider-dot{
  border: solid 2px var(--gray-400) !important;
}

.undp-slider .ant-slider-dot-active{
  border: solid 2px var(--dark-red) !important;
}

.undp-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: var(--dark-red) !important;
}

.undp-slider-tooltip {
  margin-top: 4px;
}

.undp-slider-tooltip-inner {
  background-color: var(--gray-400) !important;
  box-shadow: none !important;
  padding: var(--spacing-01) var(--spacing-02) !important;
  min-height: auto !important;
  border-radius: 0 !important;
  color: var(--gray-600) !important;
  font-family: var(--fontFamily) !important;
}

.undp-slider-tooltip-arrow::before{
  background: var(--gray-400) !important;
}

.undp-slider-tooltip-arrow-content::before{
  background: var(--gray-300) !important;
}

.undp-slider-tooltip-arrow-content {
  background-color: var(--gray-300) !important;
  box-shadow: none !important;
}

.undp-slider .ant-slider-mark-text {
  font-size: 0.75rem !important;
}

@media (min-width: 90em) {
  .ant-slider-mark-text {
    display: inline-block !important;
  }
}

@media (min-width: 73.25em) and (max-width: 90em) {
  .ant-slider-mark-text:nth-of-type(even) {
    display: inline-block !important;
  }
  .ant-slider-mark-text:nth-of-type(odd) {
    display: none !important;
  }
}

@media (max-width: 73.25em) {
  .ant-slider-mark-text {
    display: none !important;
  }
  .ant-slider-mark-text:first-of-type {
    display: inline-block !important;
  }
  
  .ant-slider-mark-text:last-of-type {
    display: inline-block !important;
  }
}